main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#placar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 630px;
    height: 150px;
    position: relative;
}

#resultado{
    width: 300px;
    height: 100px;
    background-color: rgb(35, 35, 35);
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    
}

#mensagem{
    width: 300px;
    height: 100px;
    background-color: rgb(35, 35, 35); 
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#jogador{
    position: absolute;
    left: 0;
}

#maquina{
    position: absolute;
    right: 0;
}
span{
    font-size: 25px;
    color: #fff;
}


#game{
    width: 700px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 260px;
   
}

.personagens{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    position: relative;
    cursor: pointer;
}

img{
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 725px){

    #game{
        width: 650px;
        height: 260px;
       
    }
    
    .personagens{
        width: 76px;
        height: 76px;
    }
    
    img{
        width: 51px;
        height: 51px;
    }
    span{
        font-size: 24px;
        
    }
    #jogador{
       
        left: 25px;
    }
    
    #maquina{
     
        right: 25px;
    }
}

@media screen and (max-width: 600px){

    #game{
        width: 550px;
        height: 201px;
       
    }
    
    .personagens{
        width: 69px;
        height: 69px;

    }
    
    img{
        width: 46px;
        height: 46px;
    }

    #jogador{
       
        left: 40px;
    }
    
    #maquina{
     
        right: 40px;
    }

    span{
        font-size: 23px;
        
    }
}

@media screen and (max-width: 560px){

    #game{
        width: 495px;
        height: 182px;
       
    }
    #jogador{
       
        left: 80px;
    }
    
    #maquina{
     
        right: 80px;
    }



}

@media screen and (max-width: 487px){

    #placar{
        
        width: 300px;
        height: 250px;
        
    }

    #resultado{
        width: 270px;
        height: 100px;
     
        
    }

    #jogador{
        position: absolute;
        bottom: 15px;
        left: 30px;
    }
    
    #maquina{
        position: absolute;
        bottom: 15px;
        right: 30px;
    }

    #game{
       
        width: 300px;
        height: max-content;
        flex-wrap: wrap;
        position: relative;
        top: 0px;
      
        
       
    }
    
    .personagens{

        margin: 25px;

    }
    

}